paddleocr
pre-commit
pytest==8.1.1
parameterized
regex
numpy
tiktoken
visualdl
wandb
swanlab
tensorboard
tensorboardX
modelscope
loguru
wget
huggingface_hub>=0.19.2
tiktoken
tokenizers<=0.20.3; python_version<="3.8"
tokenizers>=0.21,<0.22; python_version>"3.8"
modelscope